{% extends 'base.html.twig' %}

{% block title %}
    {{ 'form.password.title' | trans }}
{% endblock %}

{% block body %}

    <div class="form form-password">
    {{ form_start(form) }}
        <h3 class="font-weight-normal text-center">{{ 'form.password.title'|trans }}</h3>
        {{ form_errors(form) }}
        {{ form_row(form.username, {'attr': {'placeholder': 'form.placeholder.email', 'autofocus': true}}) }}
        {{ form_row(form.checkword, {'attr': {'placeholder': 'form.placeholder.checkword'}}) }}
        {{ form_row(form.password, {'attr': {'placeholder': 'form.placeholder.password'}}) }}
        {{ form_row(form.password_repeat, {'attr': {'placeholder': 'form.placeholder.repeat_password'}}) }}

        <div class="row text-center">
            <div class="col-8 offset-2">
                <button type="submit" class="btn btn-primary btn-block">{{ 'form.password.submit'|trans }}</button>
                <ul class="list-unstyled">
                    <li><a href="{{ relative_path('login') }}">{{ 'form.reset.login'|trans }}</a></li>
                </ul>
            </div>
        </div>
    {{ form_end(form) }}
    </div>

{% endblock %}

{% block styles %}
    <!--suppress CssUnusedSymbol -->
    <style type="text/css">
        html, body {
            height: 100%;
        }
        body {
            display: flex;
            align-items: center;
            padding-top: 20px;
            padding-bottom: 20px;
            background-color: #f5f5f5;
        }
        .form-password {
            width: 100%;
            max-width: 400px;
            padding: 15px;
            margin: auto;
        }
        .form-password .form-control {
            position: relative;
            box-sizing: border-box;
            height: auto;
            padding: 10px;
            font-size: 16px;
        }
        .form-password h3 {
            padding-bottom: 30px;
        }
        .form-password .btn-primary {
            margin: 10px 0;
        }
    </style>
{% endblock %}