{% extends "empty.html.twig" %}

{% block content %}
    <div class="btn-toolbar justify-content-between" role="toolbar">
        <div class="btn-toolbar-container">
            <div class="btn-group mr-2" role="group">
                <a class="btn btn-outline-primary" href="{{ path('account_address_new', {'uuid': account.uuid}) }}" data-toggle="modal" data-target="#address-modal">
                    {{ 'table.toolbar.add' | trans }}
                </a>
            </div>
        </div>
    </div>

    <br>

    <table class="table table-striped table-borderless">
    <colgroup>
        <col style="width:150px">
        <col>
        <col style="width:50px">
    </colgroup>
    <thead>
    <tr>
        <th>Тип</th>
        <th>Адрес</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for address in account.addresses %}
        <tr>
            <td>{{ address.type.title }}</td>
            <td>{{ address }}</td>
            <td style="overflow: visible">
                <div class="dropdown context">
                    <span data-toggle="dropdown">
                        <i class="material-icons btn-block">menu</i>
                    </span>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="{{ path('account_address_edit', {'uuid': address.uuid, 'account': account.uuid}) }}" data-toggle="modal" data-target="#address-modal">{{ 'table.action.edit' | trans }}</a>
                        <a class="dropdown-item" href="{{ path('account_address_copy', {'uuid': address.uuid, 'account': account.uuid}) }}" data-toggle="modal" data-target="#address-modal">{{ 'table.action.copy' | trans }}</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('account_address_delete', {'uuid': address.uuid, 'account': account.uuid}) }}" data-toggle="confirm" data-method="delete">{{ 'table.action.delete' | trans }}</a>
                    </div>
                </div>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">{{ 'table.empty' | trans }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}