{% extends 'main.html.twig' %}

{% block title %}Обучение / Тесты{% endblock %}

{% block content %}
    <h3 class="page-title">Обучение / Тесты</h3>

    {% if course is defined %}
        <div class="alert alert-info">
            Курс "<a href="{{ path('training_course_index') }}">{{ course.title }}</a>"
        </div>
    {% endif %}

    <div id="training-tests-list" data-pjax="true">
        {{ include('training/tests/_index.html.twig') }}
    </div>

    <div class="modal" id="form-modal" tabindex="-1" role="dialog" data-remote="true"></div>

    {{ include('confirm.html.twig') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/training/tests/form') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/training/tests/form') }}
{% endblock %}