<div class="row">
    <div class="col">
        <div class="form-group">
            {{ form_label(form.password.first, 'Новый пароль') }}
            {{ form_widget(form.password.first, {'attr': {'placeholder': 'Придумайте сложный пароль'}}) }}
            {{ form_errors(form.password.first) }}
            <small class="form-text text-muted">
                Минимум 6 символов латинского алфавита, цифр и специальных символов.
            </small>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            {{ form_label(form.password.second, 'Повторите новый пароль') }}
            {{ form_widget(form.password.second, {'attr': {'placeholder': 'Повторите сложный пароль'}}) }}
            {{ form_errors(form.password.second) }}
            <small class="form-text text-muted">
                Минимум 6 символов латинского алфавита, цифр и специальных символов.
            </small>
        </div>
    </div>
</div>