<div class="form-group">
    {{ form_label(form.title, 'form.label.title') }}
    {{ form_widget(form.title, {'attr': {'autofocus': true}}) }}
    {{ form_errors(form.title) }}
    <small class="form-text text-muted">
        {{ 'form.hint.title' | trans }}
    </small>
</div>
<div class="form-group">
    {{ form_label(form.description, 'form.label.description') }}
    {{ form_widget(form.description, {'attr': {'rows': 5}}) }}
    {{ form_errors(form.description) }}
    <small class="form-text text-muted">
        {{ 'form.hint.description' | trans }}
    </small>
</div>
<div class="row">
    <div class="col-sm">
        <div class="form-group">
            {{ form_label(form.code, 'form.label.code') }}
            {{ form_widget(form.code, {'attr': {'placeholder': 'form.placeholder.code'}}) }}
            {{ form_errors(form.code) }}
            <small class="form-text text-muted">
                {{ 'form.hint.code' | trans }}
            </small>
        </div>
    </div>
    <div class="col-sm">
        <div class="form-group">
            {{ form_label(form.sort, 'form.label.sort') }}
            {{ form_widget(form.sort) }}
            {{ form_errors(form.sort) }}
            <small class="form-text text-muted">
                {{ 'form.hint.sort' | trans }}
            </small>
        </div>
    </div>
</div>