<div class="row">
    <div class="col-sm">
        <div class="form-group">
            {{ form_label(form.type, 'mail.template.label.type') }}
            {{ form_widget(form.type, {'placeholder': 'mail.template.placeholder.type'}) }}
            {{ form_errors(form.type) }}
            <small class="form-text text-muted">
                {{ 'mail.template.hint.type'| trans({}, 'mail') }}
            </small>
        </div>
        <div class="form-group">
            {{ form_label(form.code, 'mail.template.label.code') }}
            {{ form_widget(form.code, {'attr': {'placeholder': 'mail.template.placeholder.code'}}) }}
            {{ form_errors(form.code) }}
            <small class="form-text text-muted">
                {{ 'mail.template.hint.code'| trans({}, 'mail') }}
            </small>
        </div>
    </div>
    <div class="col-sm">
        <div class="form-group">
            {{ form_label(form.sites, 'mail.template.label.sites') }}
            {{ form_widget(form.sites) }}
            {{ form_errors(form.sites) }}
        </div>
    </div>
</div>