{{ form_start(form, params) }}
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{{ title }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="alert alert-danger">
                <b>Внимание</b>! После выпуска нового регистрационного кода
                все предыдущие коды будут деактивированы.
            </div>
            <div class="form-group">
                {{ form_label(form.expiredAt, 'Срок действия') }}
                {{ form_widget(form.expiredAt) }}
                {{ form_errors(form.expiredAt) }}
                <small class="form-text text-muted">
                    Укажите срок действия регистрационного кода. Если поле не заполнено, срок действия не ограничивается.
                </small>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
            <button type="submit" class="btn btn-primary">Подтвердить</button>
        </div>
    </div>
</div>
{{ form_end(form) }}