<div class="btn-toolbar" role="toolbar">
    <div class="btn-group mr-2" role="group">
        <a class="btn btn-outline-secondary" title="Каталоги" href="{{ path('catalog_dashboard') }}">
            <i class="material-icons btn-block">keyboard_backspace</i>
        </a>
    </div>
    <div class="btn-group mr-2" role="group">
        <a class="btn btn-outline-secondary" title="Управление справочниками" href="{{ path('admin_catalog_index', {'uuid': type.uuid}) }}">
            <i class="material-icons btn-block">settings</i>
        </a>
    </div>
</div>

<br>

{% if catalogs is empty %}
    <div class="alert alert-warning" role="alert">
        Справочники не найдены! Вы можете добавить справочник в "<a class="alert-link" href="{{ path('admin_catalog_index', {'uuid': type.uuid}) }}">Панели управления</a>".
    </div>
{% else %}
    <div class="card-deck" style="margin-top:-15px;margin-bottom:-15px;">
        {% for catalog in catalogs %}
            <div class="card" style="min-width:300px;max-width:300px;margin-bottom:15px;margin-top:15px;">
                <img class="card-img-top" src="{{ asset('images/card-img-02.png') }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ catalog.title }}</h5>
                    <div class="card-text">{{ catalog.description }}</div>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="{{ path('catalog_element_index', {'uuid': catalog.tree.uuid}) }}" class="btn btn-primary btn-sm">Элементы</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}