{{ form_start(form, params) }}
<div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{{ title }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        {{ form_label(form.email, 'E-Mail') }}
                        {{ form_widget(form.email, {'attr': {'placeholder': 'ivan.ivanov@email.com'}}) }}
                        {{ form_errors(form.email) }}
                        <small class="form-text text-muted">
                            {{ 'form.hint.email' | trans }}
                        </small>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        {{ form_label(form.name, 'Имя, фамилия') }}
                        {{ form_widget(form.name, {'attr': {'placeholder': 'Иван Иванов'}}) }}
                        {{ form_errors(form.name) }}
                        <small class="form-text text-muted">
                            Допускается не более 255 символов.
                        </small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        {{ form_label(form.position, 'Должность') }}
                        {{ form_widget(form.position, {'attr': {'placeholder': 'Коммерческий директор'}}) }}
                        {{ form_errors(form.position) }}
                        <small class="form-text text-muted">
                            Допускается не более 255 символов.
                        </small>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        {{ form_label(form.sort, 'Сортировка') }}
                        {{ form_widget(form.sort) }}
                        {{ form_errors(form.sort) }}
                        <small class="form-text text-muted">
                            {{ 'form.hint.sort' | trans }}
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
            <button type="submit" class="btn btn-primary">Подтвердить</button>
        </div>
    </div>
</div>
{{ form_end(form) }}